/* color reference: https://personal.sron.nl/~pault/ */

body {
  background: black;
  color: white;
}

.banner {
  margin-top: 15%;
  margin-left: 5%;
}

.circle {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}

.circle > p {
  text-align: center;
  margin: 5px;
}

#experience {
  background: #DDAA33;
}

#projects {
  background: #BB5566;
}

#socials {
  background: #004488;
}